
li {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #9f8a8a;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 508px;
  }
  
  p {
    margin: 0;
    font-size: 17px;
  }

  span {
    color: rgb(37, 37, 37);
  }
  
  button {
    padding: 5px 10px;
    border: 1px solid #9f8a8a;
    border-radius: 4px;
  background-color: rgb(145, 166, 228);
    cursor: pointer;
    align-self: center;
  }
  
  button:hover {
    background-color: #e0e0e0;
    border: 1px solid darkgray;
  }
  
  .icon {
    margin-right: 5px;
  }
  